streamlit
torch==1.13.1+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.1+cpu --find-links https://download.pytorch.org/whl/torch_stable.html
numpy<1.25.0
matplotlib
Pillow
tqdm
